{% load staticfiles %}
<script type="text/javascript" src="{% static 'app/js/bootstrap.js'%}"></script>
<script type="text/javascript" src="{% static 'app/js/bootstrap.min.js'%}"></script>
<script src='{% static "app/js/jquery.min.js"%}'></script>
<link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap-responsive.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap-responsive.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap-theme.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.css'%}">

<div class="col-sm-6 col-md-9"><h1>TodoApp</h1></div>
<div class="col-sm-3 col-md-1" align="right">{%block propic%}{%endblock%}</div>
<div class="col-sm-3 col-md-2"><h4 style="text-align:left;">
{%if user.is_authenticated%}
{{user.first_name}} {{user.last_name}}<br>{%endif%}
<a href="/app/logout">LogOut</a></h4></div>
<hr>
{%block content%}
{%endblock%}
