{%extends "app/base.html"%}
{% if 'one' not in ui.propicurl%}
{%block propic%}
<img src="{{ui.propicurl}}" width=50px height=50px />
{%endblock%}{%endif%}
{%block content%}
{%if event%}
	<table border="1" class="table">
		<tr>
			<th>ID</th>
			<th>Event Name</th>
			<th>start</th>
			<th>End</th>
			<th>Description</th>
			<th>Status</th>
		</tr>
		{%for e in event%}
		<tr>
			<th>{{e.pk}}</th>
			<th>{{e.name}}</th>
                        <th>{{e.start_date}}</th>
                        <th>{{e.end_date}}</th>
                        <th>{{e.description}}</th>
			<th>{{e.is_gng_end}}</th>
		</tr>
		{%endfor%}
	</table>
{%endif%}

<form method="POST">
	{%csrf_token%}
	Name:<input type="text" name="eventname"><br>
	Event Date:   <input type="datetime-local" name="eventdate"required><br>
	Event Desc:<input type="text" name="eventdescription" required><br>
	<input type="submit" name="eventadd" value"Add Event" required>
</form>	
{%endblock%}
