{{error}}
<form action="" method="post">
{%csrf_token%}
    <label for="username">User name:</label>
    <input type="text" name="username"  id="username" required>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <input type="checkbox" name="rememberme" >
    <input type="submit" value="login" />
  </form>
<input type='button' value="twitter" onclick="gtsignin('twitter')">
<input type='button' value="google" onclick="gtsignin('google')">
<script>
function gtsignin(s){
	w=window.open("/app/authorize/"+s,"_blank","width=500, height=500");
}
</script>
