<h1>Register</h1>
{%if submit%}
	{{submit}}
{%endif%}
<form method="post">
	{%csrf_token%}
	UserName:<input type="username" name="username" required><hr>
	Email:<input type="email" name="email" required><hr>
	Password:<input type="password" name="password" required><hr>
	First Name:<input type="text" name="first_name" required><hr>
	Last Name<input type="text" name="last_name" required><hr>
	<input type="submit" name="register">
</form>
